# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
build/
release/
out/

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# User Data & Local DB
aria-data/
userData/

# Large AI Models (Download separately)
resources/models/
*.gguf
*.bin

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?
